body {
  color: Teal;
}

#clientimage {
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #fff;
  max-width: 250px;
  width: 100%;
  border-radius: 50%;
  height: 250px;
  display: block;
  border: 2px solid #999999;
  background-color: #e6e6e6;
  margin-bottom: 10px;
}

#clientheading {
  font-size: 41px;
  font-weight: bold;
  color: dodgerblue;
  position: centerclassName= "container";
}
#clientdiscription {
  font-size: 25px;
  font-weight: bolder;
  font-style: italic;
  position: center;
}
#h2clientext {
  font-size: 45px;
  color: Dodgerblue;
  font-style: oblique;
}

/* #clientalks {
  font-size: 12px;
  color: teal;
  font-style: darkslategray;
  font-family: "serif";
} */

#clientdiscription {
  font-size: 15px;
  color: #3366cc;
  font-style: italic;
  font-family: "serif";
}
/* #social_icons {
  padding: 0.5em;
  font-size: 1.2em;
} */

/* td a + a {
  padding-left: 3em;
} */

i {
  display: inline-block;
  margin: 0 10px 0 0;
}

#logo {
  display: inline-block;
  vertical-align: middle;
  width: 126px;
  margin-top: 6px;
  float: none;
  max-height: 54%;
  margin-bottom: 0;
}

#footer {
  font-style: italic;
  font-size: 25px;
  font-family: Calibri;
}

#hero {
  background-image: url("../src/components/images/images22.jpg");
  background-size: cover;
  background-position: 0 0;
  position: relative;
  bottom: 0;
  height: 90vh;
  z-index: -20;
}

#hero-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
}

#hero1 {
  background-image: url("../src/components/images/image222.jpg");
  background-size: cover;
  background-position: 0 600px;
  position: relative;
  bottom: 0;
  height: 90vh;
  z-index: -0.1;
}
#hero1-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -0.1;
  height: 90vh;
}
